td, th {
  border: 2px solid #110101;
  text-align: center;
  padding: 8px;
  box-shadow: 10px 10px 10px rgb(54, 3, 27); 
  font-size:20px;
 
}

 td:nth-child(even){
  background-color: #bcbaba;
} 
td{
   background:linear-gradient(to right,rgb(147, 7, 73),rgb(8, 8, 164));  
  font-size:20px;
  color:rgb(248, 245, 245); 

}
.input{
  margin-bottom:50px;
  text-align: center;
 
}
.search{
  text-align: center;
  border: 1px solid black; 
  box-shadow: 10px 10px 10px rgb(54, 3, 27); 
  color:rgb(0, 4, 8);
  font-size: 30px;
}
table{
  text-align: center;
}
.form-control{
  height:40px;
  width:250px;
  border:none;
  box-radius:10px;
}
body{
  background:linear-gradient(to left,rgb(236, 72, 149),rgb(81, 81, 223)); 
  height:800px;
}
input:hover{
  cursor: pointer;
  background-color: rgb(255, 213, 154);
}
input {
  background-color: antiquewhite;
  
}
input.placeholder{
  color:#110101;
}
  
